.card_container {
  display: flex;
  padding: 1rem 1.5rem;
  box-shadow: 0px 1.17763px 14.1316px 3.53289px rgba(208, 214, 227, 0.3);
  width: 23.5rem;
  gap: 1rem;
  align-items: center;
  border-radius: 0.3rem;
  margin: 0 1rem;
}
.card_image {
  width: 4.2rem;
}
@media only screen and (max-width: 1350px) {
  .card_container {
    width: 20rem;
  }
}
