@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}

/* utility classes */
.list_reset {
  list-style: none;
}
.transparent_btn {
  background: none;
  border: 0;
}
/* text */
.grey_text {
  color: gray;
}
.red_text {
  color: #ea3943;
}
.green_text {
  color: #16c784;
}
.bold_text {
  font-weight: bold;
}
.font_size_small {
  font-size: 0.9rem;
}
/* margin */
.small_margin_left {
  margin-left: 1rem;
}
.small_margin_bottom {
  margin-bottom: 1rem;
}
/* display */
.display_inline_block {
  display: inline-block;
}
.display_inline {
  display: inline;
}
.cursor_pointer {
  cursor: pointer;
}
