.card_conatiner {
  display: flex;
}
.coinImage {
  width: 2rem;
}
/* table */
.coinsTable_container {
  margin: 0 auto;
  width: 79%;
  margin-bottom: 2rem;
  /* background-color: red; */
}
.coinsTable {
  width: 98%;
  border-collapse: collapse;
  margin-right: 4rem;
}
.coinsTable th,
.coinsTable td {
  padding: 0.8rem 0.3rem;
  text-align: left;
}
.coinsTable td {
  font-weight: bold;
}
.coinsTable tr {
  border-bottom: 1.3px solid rgba(239, 242, 245, 1);
}

.homepage_heading {
  width: 79%;
  margin: 1.5rem auto 1.5rem auto;
}
.homepage_slider_container {
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 1.5rem;
  gap: 0.5rem;
  width: 85%;
}
.slider_index_indicator {
  color: #0052fe;
  font-size: 0.52rem;
  margin-left: 0.5rem;
}
.coin_24h_change {
  font-weight: bold;
}
/* catrgory */
.category_container {
  display: flex;
  width: 79%;
  gap: 1rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}
/* select rows */
.select_rows_container {
  margin-left: auto;
}
@media only screen and (max-width: 1350px) {
  body {
    font-size: 90%;
  }
}

/* get the mobile view at 1250px */
@media only screen and (max-width: 1250px) {
  .hide_in_mobile {
    display: none;
  }
  .hide_in_desktop {
    display: block;
  }
  .homepage_heading {
    width: 70%;
  }
}
